* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header h2 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    padding: 8px 64px;
}


.main .right {
    background-color: rgb(88, 97, 99);
}

.main p {
    font-size: 18px;
    color: #E5E7EB;
}

.main h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main button {
    padding: 8px 24px;
    background-color: #3882f6;
    border: 0;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 5px;
}